extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Kilimanjaro
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the Kilimanjaro Team Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in