@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
:root {
--logo-font: "Share Tech Mono", monospace;
--header-font: "Raleway", sans-serif;
--core-font: "Merriweather Sans", sans-serif;
--primary: #ffffff;
--secondary: #2a3747;
--highlight: #fa4141;
--ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
fill: rgba(0, 0, 0, 0.54);
--ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}
* {
box-sizing: border-box;
}
html,
body,
#root {
height: 100%;
width: 100%;
}
body {
margin: 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
h1,
h2,
h3 {
font-family: var(--header-font);
text-transform: uppercase;
padding: 0;
margin: 0;
color: var(--secondary);
}
h1 {
font-size: 40px;
}
a {
color: inherit;
text-decoration: none;
cursor: pointer;
user-select: none;
}
#root {
display: flex;
flex-direction: column;
}
.View {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
height: 100%;
width: 100%;
padding: 20px;
background-size: cover;
font-family: var(--core-font);
}
.Banner {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
border-radius: 5px;
overflow: hidden;
background: white;
padding: 15px;
font-family: var(--logo-font);
border-bottom: var(--ui-shawdow-border);
box-shadow: var(--ui-shawdow);
}
.Message {
background: white;
padding: 30px;
border-bottom: var(--ui-shawdow-border);
box-shadow: var(--ui-shawdow);
}
.Message > .Title {
padding-bottom: 20px;
}
.Message > .Details {
display: flex;
flex-direction: column;
line-height: 1.5em;
}
.NavButtons {
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
padding: 0 20px;
}
.NavButton {
display: flex;
justify-content: center;
align-items: center;
height: 55px;
width: 150px;
background: var(--highlight);
border-radius: 30px;
font-size: 16px;
font-weight: bold;
color: white;
text-transform: capitalize;
border-bottom: var(--ui-shawdow-border);
box-shadow: var(--ui-shawdow);
}
.WelcomeView {
    background: url("dev-food.jpg") left bottom;
    background-size: cover;
  }